<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猎评网</title>
    <link rel="shortcut icon" href="../lieping.ico">
    <link rel="stylesheet" href="../public/less/denglu.css">
</head>

<body>
    <div class="header">
        <div class="continer clearfix">
            <div class="header_left">
                <a href="../index.html"><img src="../images/logo.png" alt=""></a>
                <ul>
                    <li>公平</li>
                    <li>公正</li>
                    <li>真实</li>
                    <li>客观</li>
                    <span>|</span>
                    <li>欢迎登录</li>
                </ul>
            </div>
            <div class="header_right">
                <ul>
                    <li>首页</li>
                    <li>帮助中心</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="zc_content">
        <div class="zc_contenter">
            <div class="zc_contenter_l">
                <ul>
                    <li>
                        <span class="zcnth-child-1">最全面</span>
                        <i>整个最大渠道企业人才信息</i>
                    </li>
                    <li>
                        <span class="zcnth-child-2">最真实</span>
                        <i>企业人才相互点评，信息更真实</i>
                    </li>
                    <li>
                        <span class="zcnth-child-3">最安全</span>
                        <i>只有注册认证客户才能查看资源</i>
                    </li>
                    <li>
                        <span class="zcnth-child-4">最高效</span>
                        <i>找工作找人才更便捷高效</i>
                    </li>
                </ul>
            </div>
            <div class="zc_contenter_r">
                <li>欢迎登录</li>
                <li>账号</li>
                <input type="text" name="" class="zcinput_lang" placeholder="&nbsp请输入手机号码/邮箱号,它将用于登录和找回密码">
                <li>密码</li>
                <input type="text" name="" class="zcinput_lang" placeholder="&nbsp请输入密码，6-16位字母/数字/符号相组">
                <div class="zcinput_zidong">
                    <input type="checkbox"><i>自动登录</i>
                    <m><a href="javascript:;">忘记密码？</a></m>
                </div>
                <input type="button" value="登录">
                <div class="zc_conr_foot">
                    <i>还不是会员？</i>
                    <a href="./zhuCe.html">免费注册</a>
                    <a href="./zhuCe.html">
                        <m></m>
                    </a>
                </div>
                <div class="zc_conr_footTs">
                    <p>温馨提示:用人单位招聘人才，以任何名义向应聘者收取费用都是不被法律允许的,请应聘者提高警惕！求职者要时刻睁大眼睛,谨防招聘骗局</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>