<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猎评网</title>
    <link rel="shortcut icon" href="../lieping.ico">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/less/firmShow.css">
</head>

<body>
    <!--头部导航-->
    <div class="header">
        <div class="continer clearfix">
            <div class="col-sm-4">
                <div class="log">
                    <img src="../images/logo.png" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <ul>
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="./talentsCx.html">人才查询</a></li>
                    <li><a href="./firmCx.html" style="color:#e95513">企业查询</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">个人用户</a></li>
                    <span>|</span>
                    <li><a href="">企业用户</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--大图片-->
    <div class="dImage">
        <div class="img_box">
            <!--<img src="../public/uploade/16sucai_201403151248.png" alt="" width="100%">-->
        </div>
    </div>

    <!--主体内容区域-->

    <div class="continer clearfix">
        <div class="content_top">
            <div class="content_img">

            </div>
            <div class="content_topr">
                <p>荣之家</p> <button type="button"><m></m><s>猎评认证</s></button>
                <p class="content_topp">国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                <ul class="clearfix">
                    <li>
                        <s>15个</s>
                        <i>招聘职位</i>
                    </li>
                    <li>
                        <s>24个</s>
                        <i>面试评价</i>
                    </li>
                    <li>
                        <s>今天</s>
                        <i>企业最近登陆</i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="continer_nav">
            <ul class="clearfix">
                <li class="active">公司介绍</li>
                <li>招聘职位</li>
                <li>面试评价</li>
            </ul>
        </div>
        <p class="outsidep">公司介绍</p>
        <div class="continer_jstext clearfix">
            <div class="continer_img">
                <img src="../public/uploade/rouzj.jpg" alt="" width="280px" height="320px">
            </div>
            <div class="continer_imgtext">
                <p>
                    上海融之家金融信息服务有限公司成立于2015年，总部位于上海，是一站式贷款服务平台。依托庞大的征信数据集、先进的数据挖掘技术和智能搜索技术，
                    <br/> 帮助借款用户通过手机轻松实现贷款需求。 2015年9月28日融之家宣布纯线上贷款智能搜索引擎“借点钱”正式上线。
                    <br/> 平台为借款人提供贷款搜索比价服务，帮助借款人最低成本的完成贷款；
                    <br/> 同时，为银行及金融机构寻找匹配的信贷客户。融之家为个人和小微企业免费提供正规的贷款渠道，通过“大数据智能匹配”功能，
                    <br/>将借款用户的个人信息、贷款需求与贷款产品进行智能匹配， 借款人可以根据自己的喜好，选择相应的贷款产品，帮助借款人低成本得完成贷款。
                </p>
            </div>
        </div>

        <div class="continer_zpzw clearfix">
            <p class="outsidep">招聘职位</p> <span><a href="javascript:;">更多</a></span>
        </div>

        <div class="continer_zpzwshow">
            <span>职位 :</span>
            <span>全部</span>
            <span class="zpzw_active">技术</span>
            <span>运营</span>
            <span>市场与销售</span>
        </div>

        <div class="clearfix">
            <div class="col-md-6 col-md-padding">
                <div class="continer_zwdetails">
                    <div class="continer_zwdetails_top clearfix">
                        <span class="">安卓高级开发工程师 ( 上海 )</span>
                        <i>3/31 发布</i>
                    </div>
                    <div class="continer_zwdetails_jies clearfix">
                        <span>15-20k</span>
                        <span>经验5-10年</span>
                        <span>大专及以上</span>
                        <span>全职</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-padding">
                <div class="continer_zwdetails">
                    <div class="continer_zwdetails_top clearfix">
                        <span class="">安卓高级开发工程师 ( 上海 )</span>
                        <i>3/31 发布</i>
                    </div>
                    <div class="continer_zwdetails_jies clearfix">
                        <span>15-20k</span>
                        <span>经验5-10年</span>
                        <span>大专及以上</span>
                        <span>全职</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mians_pingj">
            <div class="continer_zpzw clearfix">
                <p class="outsidep">面试评价</p> <span><a href="javascript:;">更多</a></span>
            </div>
            <div class="continer_zhpj">
                <div class="continer_zhpjT">
                    <i class="wxpingjh6">综合评价</i><span class="wx_back">
                        <m class="wx2_back"></m>
                    </span>
                    <s class="wx_pf">4.5</s><s class="wx_pf">分</s><s>（ 来自25个评价 ）</s>
                </div>
                <div class="continer_zhpjT">
                    <i class="wxpingjh6">综合评价</i><span class="wx_back wx_back2">
                        <m class="wx2_back wx_back2"></m>
                    </span>
                    <s class="wx_pf wx_pf2">4.5</s><s class="wx_pf wx_pf2">分</s><s class="wx_bar"></s>
                    <i class="wxpingjh6">面试官</i><span class="wx_back wx_back2">
                        <m class="wx2_back wx_back2 wx_back3"></m>
                    </span>
                    <s class="wx_pf wx_pf2">4.8</s><s class="wx_pf wx_pf2">分</s><s class="wx_bar"></s>
                    <i class="wxpingjh6">整体环境</i><span class="wx_back wx_back2">
                        <m class="wx2_back wx_back2"></m>
                    </span>
                    <s class="wx_pf wx_pf2">4.5</s><s class="wx_pf wx_pf2">分</s>
                </div>
            </div>
            <div class="continer_pingjcont continer_bordert clearfix">
                <div class="continer_pingjimg">
                    <img src="../public/uploade/ox.png" alt="">
                </div>
                <div class="continer_pingjtext">
                    <div class="continer_pingjtop ">
                        <div class="continer_pingjtopl clearfix">
                            <span>李**</span>
                            <i class="wxpingjh6">面试评价</i>
                            <span class="wx_back">
                            <m class="wx2_back"></m>
                            </span>
                            <span>面试职位 :</span><span>高级安卓开发工程师</span>
                        </div>
                        <div class="continer_pingjtopr">
                            <s>2017/3/29</s>
                        </div>
                    </div>
                    <div class="continer_pingjbtn clearfix">
                        <button>福利待遇杠杠的</button>
                        <button>面试官是大牛</button>
                        <button>面试效率高</button>
                    </div>
                    <div class="continer_pingjbotom clearfix">
                        <p>阿瑟及艾尔佛高傲一哈饿哦氟化氢铵我氢铵我还好阿伟 安稳阿瑟及艾尔佛高还好阿伟 安稳阿瑟及艾尔佛高傲一哈饿 哦氟化 </p>
                        <div class="continer_pingzan">
                            <span class="zans">20</span>
                            <span class="zanx">9</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="continer_pingjcont clearfix">
                <div class="continer_pingjimg">
                    <img src="../public/uploade/ox.png" alt="">
                </div>
                <div class="continer_pingjtext">
                    <div class="continer_pingjtop ">
                        <div class="continer_pingjtopl clearfix">
                            <span>李**</span>
                            <i class="wxpingjh6">面试评价</i>
                            <span class="wx_back">
                            <m class="wx2_back"></m>
                            </span>
                            <span>面试职位 :</span><span>高级安卓开发工程师</span>
                        </div>
                        <div class="continer_pingjtopr">
                            <s>2017/3/29</s>
                        </div>
                    </div>
                    <div class="continer_pingjbtn clearfix">
                        <button>福利待遇杠杠的</button>
                        <button>面试官是大牛</button>
                        <button>面试效率高</button>
                    </div>
                    <div class="continer_pingjbotom clearfix">
                        <p>阿瑟及艾尔佛高傲一哈饿哦氟化氢铵我氢铵我还好阿伟 安稳阿瑟及艾尔佛高还好阿伟 安稳阿瑟及艾尔佛高傲一哈饿 哦氟化 </p>
                        <div class="continer_pingzan">
                            <span class="zans">20</span>
                            <span class="zanx">9</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="continer_pingjcont clearfix">
                <div class="continer_pingjimg">
                    <img src="../public/uploade/ox.png" alt="">
                </div>
                <div class="continer_pingjtext">
                    <div class="continer_pingjtop ">
                        <div class="continer_pingjtopl clearfix">
                            <span>李**</span>
                            <i class="wxpingjh6">面试评价</i>
                            <span class="wx_back">
                            <m class="wx2_back"></m>
                            </span>
                            <span>面试职位 :</span><span>高级安卓开发工程师</span>
                        </div>
                        <div class="continer_pingjtopr">
                            <s>2017/3/29</s>
                        </div>
                    </div>
                    <div class="continer_pingjbtn clearfix">
                        <button>福利待遇杠杠的</button>
                        <button>面试官是大牛</button>
                        <button>面试效率高</button>
                    </div>
                    <div class="continer_pingjbotom clearfix">
                        <p>阿瑟及艾尔佛高傲一哈饿哦氟化氢铵我氢铵我还好阿伟 安稳阿瑟及艾尔佛高还好阿伟 安稳阿瑟及艾尔佛高傲一哈饿 哦氟化 </p>
                        <div class="continer_pingzan">
                            <span class="zans">20</span>
                            <span class="zanx">9</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>








    <div class="back_ccc" style="height:4px;margin-top:260px;  background-color: #e95513"></div>
    <!--底部关于我们-->
    <div class="foot_our">
        <div class="continer clearfix">
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>关于我们
                            <dd><a href="javascript:;">公司介绍</a></dd>
                            <dd><a href="javascript:;">发展历程</a></dd>
                            <dd><a href="javascript:;">荣誉资质</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>联系我们
                            <dd><a href="javascript:;">联系我们</a></dd>
                            <dd><a href="javascript:;">常见问题</a></dd>
                            <dd><a href="javascript:;">友情链接</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>帮助中心
                            <dd><a href="javascript:;">常见问题</a></dd>
                            <dd><a href="javascript:;">相关政策</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>注册流程
                            <dd><a href="javascript:;">个人注册</a></dd>
                            <dd><a href="javascript:;">公司注册</a></dd>
                        </dt>
                </dl>
            </div>
        </div>
    </div>
    <div class="foot">
        <p>未经猎评网同意，不得转载本网站之所有企业及个人信息| 猎评网版权所有© 2017/lieping </p>
        <p>沪公网安备31011502002551号</p>
    </div>



</body>

</html>