<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猎评网</title>
    <link rel="shortcut icon" href="../lieping.ico">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/less/firmShow.css">
</head>

<body>
    <!--头部导航-->
    <div class="header">
        <div class="continer clearfix">
            <div class="col-sm-4">
                <div class="log">
                    <img src="../images/logo.png" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <ul>
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="./talentsCx.html">人才查询</a></li>
                    <li><a href="./firmCx.html" style="color:#e95513">企业查询</a></li>
                    <li><a href="./callUs.html">联系我们</a></li>
                    <li><a href="">个人用户</a></li>
                    <span>|</span>
                    <li><a href="./firmUser.html">企业用户</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--大图片-->
    <div class="dImage">
        <div class="img_box">
            <!--<img src="../public/uploade/16sucai_201403151248.png" alt="" width="100%">-->
        </div>
    </div>

    <!--主体内容区域-->
    <div class="content_to">
        <div class="continer">
            <div class="content_top">
                <div class="content_img">

                </div>
                <div class="content_topr">
                    <p>荣之家</p> <button type="button"><m></m><s>猎评认证</s></button>
                    <p class="content_topp">国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                    <ul class="clearfix">
                        <li>
                            <s>今天</s>
                            <i>企业最近登陆</i>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="continer clearfix">

        <p class="outsidep">公司介绍</p>
        <div class="continer_jstext clearfix">
            <div class="continer_img">
                <img src="../public/uploade/rouzj.jpg" alt="" width="280px" height="320px">
            </div>
            <div class="continer_imgtext">
                <p>
                    上海融之家金融信息服务有限公司成立于2015年，总部位于上海，是一站式贷款服务平台。依托庞大的征信数据集、先进的数据挖掘技术和智能搜索技术，
                    <br/> 帮助借款用户通过手机轻松实现贷款需求。 2015年9月28日融之家宣布纯线上贷款智能搜索引擎“借点钱”正式上线。
                    <br/> 平台为借款人提供贷款搜索比价服务，帮助借款人最低成本的完成贷款；
                    <br/> 同时，为银行及金融机构寻找匹配的信贷客户。融之家为个人和小微企业免费提供正规的贷款渠道，通过“大数据智能匹配”功能，
                    <br/>将借款用户的个人信息、贷款需求与贷款产品进行智能匹配， 借款人可以根据自己的喜好，选择相应的贷款产品，帮助借款人低成本得完成贷款。
                </p>
            </div>
        </div>

        <div class="continer_zpzw clearfix">
            <p class="outsidep">公司证件</p>
            <img src="../public/uploade/firmZhiz.png" alt="">
        </div>
        <div class="continer_zpzw clearfix">
            <p class="outsidep">联系方式</p>
            <ul>
                <li>联系人：艾米</li>
                <li>手机 / Mobile:15711462371</li>
                <li>电话 / Tel:010-82332922-8025</li>
                <li>电子邮箱：editor@cyzone.cn</li>
                <li>公司地址：上海市闵行区田林路1036号科技绿洲三期16号楼4层(靠近合川路)</li>
                <li>http://www.rongzj.com/</li>
            </ul>
        </div>



        <div class="back_ccc" style="height:4px;margin-top:90px;  background-color: #e95513"></div>
        <!--底部关于我们-->
        <div class="foot_our">
            <div class="continer clearfix">
                <div class="col-sm-3 col-xs-6">
                    <dl>
                        <dt>关于我们
                            <dd><a href="./foot/aboutUs.html#if">公司介绍</a></dd>
                            <dd><a href="./foot/aboutUs.html#2f">发展历程</a></dd>
                    </dt>
                    </dl>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <dl>
                        <dt>联系我们
                            <dd><a href="./callUs.html#1f">联系我们</a></dd>
                            <dd><a href="./callUs.html#2f">友情链接</a></dd>
                        </dt>
                    </dl>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <dl>
                        <dt>帮助中心
                            <dd><a href="./foot/helpCenter.html#went">常见问题</a></dd>
                            <dd><a href="./foot/helpCenter.html#zhengc">相关政策</a></dd>
                        </dt>
                    </dl>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <dl>
                        <dt>注册流程
                            <dd><a href="./zhuCe.html">个人注册</a></dd>
                            <dd><a href="./zhuCe.html#firm">公司注册</a></dd>
                        </dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="foot">
            <p>未经猎评网同意，不得转载本网站之所有企业及个人信息| 猎评网版权所有© 2017/lieping </p>
            <p>沪公网安备31011502002551号</p>
        </div>



</body>

</html>