<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猎评网</title>
    <link rel="shortcut icon" href="../lieping.ico">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/less/firm.css">
</head>

<body>
    <!--头部导航-->
    <div class="header">
        <div class="continer clearfix">
            <div class="col-sm-4">
                <div class="log">
                    <img src="../images/logo.png" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <ul>
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="./talentsCx.html">人才查询</a></li>
                    <li><a href="" style="color:#e95513">企业查询</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">个人用户</a></li>
                    <span>|</span>
                    <li><a href="">企业用户</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--大图片-->
    <div class="dImage">
        <div class="img_box">
            <img src="../public/uploade/16sucai_201403151248.png" alt="" width="100%">
        </div>
    </div>

    <!--主体内容区域-->
    <div class="content">
        <div class="continer clearfix">
            <div class="col-sm-2 ceb_nav">
                <ul>
                    <li>传媒
                        <span class="ceb_navbar"></span>
                    </li>
                    <li>金融</li>
                    <li>教育培训</li>
                    <li>医疗健康</li>
                    <li>房地产/建筑</li>
                    <li>汽车/零配件</li>
                    <li>供应链/物流</li>
                    <li>采购/贸易</li>
                    <li>咨询/翻译/法律</li>
                </ul>
                <div class="ceb_sanjiao">
                    <span></span>
                </div>
            </div>
            <div class="col-sm-10 col-sm-10padding">
                <div class="nav_result clearfix">
                    <div class="sousuo_kuang">
                        <input type="text" name="" value="" placeholder=" &nbsp  &nbsp搜索职位公司">
                        <div class="sousuo_xiala">
                            <span>上海</span> <span></span>
                        </div>
                        <div class="sousuo_button">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-padding">
                        <div class="sousuo_content ">
                            <div class="zhen_qiu_fan clearfix">
                                <a href="./firmShow.html"><img src="../public/uploade/rongzhijia.png" alt=""></a>
                                <div class="sousuo_firm">
                                    <p>融之家</p>
                                    <p>24个企业评价</p>
                                    <p>15个在招职位</p>
                                </div>
                            </div>
                            <div class="sousuo_jiehao">
                                <p>国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                            </div>
                            <div class="sousuo_foot">
                                <div><span>移动互联网/金融</span></div>
                                <div>上海</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-sm-padding">
                        <div class="sousuo_content">
                            <div class="zhen_qiu_fan clearfix">
                                <a href="./firmShow.html"><img src="../public/uploade/rongzhijia.png" alt=""></a>
                                <div class="sousuo_firm">
                                    <p>融之家</p>
                                    <p>24个企业评价</p>
                                    <p>15个在招职位</p>
                                </div>
                            </div>
                            <div class="sousuo_jiehao">
                                <p>国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                            </div>
                            <div class="sousuo_foot">
                                <div><span>移动互联网/金融</span></div>
                                <div>上海</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-padding">
                        <div class="sousuo_content">
                            <div class="zhen_qiu_fan clearfix">
                                <a href="./firmShow.html"><img src="../public/uploade/rongzhijia.png" alt=""></a>
                                <div class="sousuo_firm">
                                    <p>融之家</p>
                                    <p>24个企业评价</p>
                                    <p>15个在招职位</p>
                                </div>
                            </div>
                            <div class="sousuo_jiehao">
                                <p>国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                            </div>
                            <div class="sousuo_foot">
                                <div><span>移动互联网/金融</span></div>
                                <div>上海</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-padding">
                        <div class="sousuo_content">
                            <div class="zhen_qiu_fan clearfix">
                                <a href="./firmShow.html"><img src="../public/uploade/rongzhijia.png" alt=""></a>
                                <div class="sousuo_firm">
                                    <p>融之家</p>
                                    <p>24个企业评价</p>
                                    <p>15个在招职位</p>
                                </div>
                            </div>
                            <div class="sousuo_jiehao">
                                <p>国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                            </div>
                            <div class="sousuo_foot">
                                <div><span>移动互联网/金融</span></div>
                                <div>上海</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-padding">
                        <div class="sousuo_content">
                            <div class="zhen_qiu_fan clearfix">
                                <a href="./firmShow.html"><img src="../public/uploade/rongzhijia.png" alt=""></a>
                                <div class="sousuo_firm">
                                    <p>融之家</p>
                                    <p>24个企业评价</p>
                                    <p>15个在招职位</p>
                                </div>
                            </div>
                            <div class="sousuo_jiehao">
                                <p>国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                            </div>
                            <div class="sousuo_foot">
                                <div><span>移动互联网/金融</span></div>
                                <div>上海</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-padding">
                        <div class="sousuo_content">
                            <div class="zhen_qiu_fan clearfix">
                                <a href="./firmShow.html"><img src="../public/uploade/rongzhijia.png" alt=""></a>
                                <div class="sousuo_firm">
                                    <p>融之家</p>
                                    <p>24个企业评价</p>
                                    <p>15个在招职位</p>
                                </div>
                            </div>
                            <div class="sousuo_jiehao">
                                <p>国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                            </div>
                            <div class="sousuo_foot">
                                <div><span>移动互联网/金融</span></div>
                                <div>上海</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-padding">
                        <div class="sousuo_content">
                            <div class="zhen_qiu_fan clearfix">
                                <a href="./firmShow.html"><img src="../public/uploade/rongzhijia.png" alt=""></a>
                                <div class="sousuo_firm">
                                    <p>融之家</p>
                                    <p>24个企业评价</p>
                                    <p>15个在招职位</p>
                                </div>
                            </div>
                            <div class="sousuo_jiehao">
                                <p>国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                            </div>
                            <div class="sousuo_foot">
                                <div><span>移动互联网/金融</span></div>
                                <div>上海</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-padding">
                        <div class="sousuo_content">
                            <div class="zhen_qiu_fan clearfix">
                                <a href="./firmShow.html"><img src="../public/uploade/rongzhijia.png" alt=""></a>
                                <div class="sousuo_firm">
                                    <p>融之家</p>
                                    <p>24个企业评价</p>
                                    <p>15个在招职位</p>
                                </div>
                            </div>
                            <div class="sousuo_jiehao">
                                <p>国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                            </div>
                            <div class="sousuo_foot">
                                <div><span>移动互联网/金融</span></div>
                                <div>上海</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-padding">
                        <div class="sousuo_content">
                            <div class="zhen_qiu_fan clearfix">
                                <a href="./firmShow.html"><img src="../public/uploade/rongzhijia.png" alt=""></a>
                                <div class="sousuo_firm">
                                    <p>融之家</p>
                                    <p>24个企业评价</p>
                                    <p>15个在招职位</p>
                                </div>
                            </div>
                            <div class="sousuo_jiehao">
                                <p>国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                            </div>
                            <div class="sousuo_foot">
                                <div><span>移动互联网/金融</span></div>
                                <div>上海</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-padding">
                        <div class="sousuo_content">
                            <div class="zhen_qiu_fan clearfix">
                                <a href="./firmShow.html"><img src="../public/uploade/rongzhijia.png" alt=""></a>
                                <div class="sousuo_firm">
                                    <p>融之家</p>
                                    <p>24个企业评价</p>
                                    <p>15个在招职位</p>
                                </div>
                            </div>
                            <div class="sousuo_jiehao">
                                <p>国内领先的互联网金融平台，致力于为借款人提供最好的借款服务</p>
                            </div>
                            <div class="sousuo_foot">
                                <div><span>移动互联网/金融</span></div>
                                <div>上海</div>
                            </div>
                        </div>
                    </div>


                    <div class="fenye">
                        <ul class="clearfix">
                            <span>上一页</span>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li class="fy_doudian"><a href="">......</a></li>
                            <span>下一页</span>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="back_ccc" style="height:4px;margin-top:20px;  background-color: #e95513"></div>
    <!--底部关于我们-->
    <div class="foot_our">
        <div class="continer clearfix">
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>关于我们
                            <dd><a href="javascript:;">公司介绍</a></dd>
                            <dd><a href="javascript:;">发展历程</a></dd>
                            <dd><a href="javascript:;">荣誉资质</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>联系我们
                            <dd><a href="javascript:;">联系我们</a></dd>
                            <dd><a href="javascript:;">常见问题</a></dd>
                            <dd><a href="javascript:;">友情链接</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>帮助中心
                            <dd><a href="javascript:;">常见问题</a></dd>
                            <dd><a href="javascript:;">相关政策</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>注册流程
                            <dd><a href="javascript:;">个人注册</a></dd>
                            <dd><a href="javascript:;">公司注册</a></dd>
                        </dt>
                </dl>
            </div>
        </div>
    </div>
    <div class="foot">
        <p>未经猎评网同意，不得转载本网站之所有企业及个人信息| 猎评网版权所有© 2017/lieping </p>
        <p>沪公网安备31011502002551号</p>
    </div>



</body>

</html>