<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猎评网</title>
    <link rel="shortcut icon" href="../lieping.ico">
    <link rel="stylesheet" href="../public/less/signIn.css">
</head>

<body>
    <div class="header">
        <div class="continer clearfix">
            <img src="../images/logo.png" alt="">
            <ul class="hedeull">
                <li> </li>
                <li>公平</li>
                <li>公正</li>
                <li>真实</li>
                <li>客观</li>
                <span></span>
                <li>欢迎注册</li>
            </ul>
            <ul class="hedeulr">
                <a href="./foot/helpCenter.html">
                    <li>帮助中心</li>
                </a>
                <a href="../index.html">
                    <li>首页</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="zc_content">
        <div class="zc_contentc">
            <h1>欢迎登陆</h1>
            <div class="inputbox marginTop40">
                <span>账号</span><input type="text" name="" value="" class="zcinput_lang index_phone" placeholder="&nbsp请输入手机号码/邮箱号/用户名">
                <p class="wrong">1212</p>
            </div>
            <div class="inputbox">
                <span>密码</span><input type="text" name="" value="" class="zcinput_lang index_pass" placeholder="&nbsp请输入密码">
                <p class="wrong">1212</p>
            </div>
            <div class="checed">
                <p>忘记密码</p>
                <input type="checkbox" id="checkbox" class="chechedinput"><span class="zid_sigin">自动登录</span>
            </div>
            <button type="button">登录</button>
            <p>还不是会员？<a href="./zhuce.html">免费注册</a><span class="shoujian"></span></p>
            <i></i>
            <p class="wenzi">温馨提示：用人单位招聘人才，以任何名义向应聘者收取费用都是不被法律允许的,请应聘者提高警惕！求职者要时刻睁大眼睛，谨防招聘骗局。</p>
        </div>
    </div>

</body>
<script src="../public/script/signIn.js"></script>

</html>