<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猎评网</title>
    <link rel="shortcut icon" href="../lieping.ico">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/less/talents.css">
</head>

<body>
    <!--头部导航-->
    <div class="header">
        <div class="continer clearfix">
            <div class="col-sm-4">
                <div class="log">
                    <img src="../images/logo.png" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <ul>
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="" style="color:#e95513">人才查询</a></li>
                    <li><a href="./firmCx.html">企业查询</a></li>
                    <li><a href="./callUs.html">联系我们</a></li>
                    <li><a href="./personalUser.html">个人用户</a></li>
                    <span>|</span>
                    <li><a href="./firmUser.html">企业用户</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--大图片-->
    <div class="dImage">
        <div class="img_box">
            <img src="../public/uploade/rencai.png" alt="" width="100%">
        </div>
    </div>

    <!--条件搜索-->

    <div class="content">
        <div class="continer clearfix">
            <div class="top clearfix">
                <span></span>
                <p>条件搜索</p>
            </div>
            <div class="search_fanwei clearfix">
                <span class="search_text_r">搜索范围 :</span>
                <span class="check_icon checkd_icon">
                     <input type="checkbox" class="checkd checkdball" checked='checked'>
                </span>
                <span>全部人才</span>
                <span class="check_icon ">
                     <input type="checkbox" class="checkd checkdball">
                </span>
                <span>精英人才</span>
                <span class="check_icon ">
                     <input type="checkbox" class="checkd checkdball">
                </span>
                <span>白领人才</span>
            </div>
            <div class="search_gjc clearfix">
                <div class="search_gjc_floatLef clearfix">
                    <span class="search_text_r guanjianci">关键词 :</span>
                    <input type="text" placeholder=" &nbsp 可搜索姓名">
                    <span class="check_icon checkd1_icon checkd_1_icon search_position">
                     <input type="checkbox" class="checkd checkdcull" checked='checked'>
                    </span>
                    <span>包含任意关键词</span>
                </div>

                <div class="search_gjc_floatLeft clearfix">
                    <span class="search_text_r margin-left">行业 :</span>
                    <input type="text" placeholder=" &nbsp 请选择行业">
                </div>

            </div>
            <div class="search_gjc clearfix">
                <div class="search_gjc_floatLef clearfix">
                    <span class="search_text_r guanjianci">地区 :</span>
                    <input type="text" placeholder=" &nbsp 请选择地区">
                    <span class="check_icon  checkd_1_icon search_position">
                     <input type="checkbox" class="checkd checkdcull">
                    </span>
                    <span>包含期望工作地区</span>
                </div>
                <div class="search_gjc_floatLeft clearfix">
                    <span class="search_text_r margin-left1">职能 :</span>
                    <input type="text" placeholder=" &nbsp 请选择职能">
                </div>
            </div>

            <div class="search_fanwei clearfix">
                <span class="search_text_r">学历 :</span>
                <span class="check_icon checkd_1_icon checkd1_icon">
                     <input type="checkbox" class="checkd checkdcula" checked='checked'>
                </span>
                <span>博士后</span>
                <span class="check_icon  checkd_1_icon">
                     <input type="checkbox" class="checkd checkdcula">
                </span>
                <span>博士</span>
                <span class="check_icon  checkd_1_icon">
                     <input type="checkbox" class="checkd checkdcula">
                </span>
                <span>硕士</span>
                <span class="check_icon  checkd_1_icon">
                     <input type="checkbox" class="checkd checkdcula">
                </span>
                <span>本科</span>
                <span class="check_icon  checkd_1_icon">
                     <input type="checkbox" class="checkd checkdcula">
                </span>
                <span>大专</span>
                <span class="check_icon  checkd_1_icon">
                     <input type="checkbox" class="checkd checkdcula">
                </span>
                <span>高中及以下学历</span>
            </div>
            <div class="search_Nx clearfix">
                <div class="search_text_r">工作年限 :</div>
                <div class="search_xiala clearfix">
                    <span class="xiala_content">不限</span>
                    <span class="xiala_show"></span>
                    <div class="contqz_xiala_oryue">
                        <li class="lp_yearmo">一周内</li>
                        <li class="lp_moseney">一月内</li>
                        <li class="lp_moseney">待定</li>
                    </div>
                </div>
            </div>
            <div class="search_Nx clearfix">
                <div class="search_text_r">薪资要求 :</div>
                <div class="search_xiala clearfix">
                    <span class="xiala_content">不限</span>
                    <span class="xiala_show"></span>
                    <div class="contqz_xiala_oryue">
                        <li class="lp_yearmo">一周内</li>
                        <li class="lp_moseney">一月内</li>
                        <li class="lp_moseney">待定</li>
                    </div>
                </div>
            </div>
            <div class="search_Tj clearfix">
                <div class="search_jpg"></div>
                <div class="search_checkd">
                    <span class="check_icon checkd1_icon checkd_1_icon search_position">
                     <input type="checkbox" class="checkd">
                    </span>
                </div>
                <div class="search_yxtj">
                    <span>已选条件</span>
                    <span>上海+本科+金融</span>
                </div>
            </div>
            <div class="search_content clearfix" style="display:none">
                <div class="search_content_sole clearfix">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>


                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="search_content_sole">
                    <s>刘珂</s>
                    <em>本科</em>
                    <em>金融</em>
                    <div class="search_content_solefoot">
                        <s class="content_solefoot_l content_footl_icon">状态 :</s>
                        <i class="content_solefoot_l">在职</i>
                        <s class="content_solefoot_r content_footr_icon">上海</s>
                    </div>
                </div>

                <div class="fenye">
                    <ul class="clearfix">
                        <span>上一页</span>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li class="fy_doudian"><a href="">......</a></li>
                        <span>下一页</span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content_foot">
        <p>暂时没有此类人才信息</p>
    </div>
    <div class="back_ccc" style="height:4px;margin-top:230px;  background-color: #e95513"></div>
    <!--底部关于我们-->
    <div class="foot_our">
        <div class="continer clearfix">
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>关于我们
                            <dd><a href="./foot/aboutUs.html#if">公司介绍</a></dd>
                            <dd><a href="./foot/aboutUs.html#2f">发展历程</a></dd>
                    </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>联系我们
                            <dd><a href="./callUs.html#1f">联系我们</a></dd>
                            <dd><a href="./callUs.html#2f">友情链接</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>帮助中心
                            <dd><a href="./foot/helpCenter.html#went">常见问题</a></dd>
                            <dd><a href="./foot/helpCenter.html#zhengc">相关政策</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>注册流程
                            <dd><a href="./zhuCe.html">个人注册</a></dd>
                            <dd><a href="./zhuCe.html#firm">公司注册</a></dd>
                        </dt>
                </dl>
            </div>
        </div>
    </div>
    <div class="foot">
        <p>未经猎评网同意，不得转载本网站之所有企业及个人信息| 猎评网版权所有© 2017/lieping </p>
        <p>沪公网安备31011502002551号</p>
    </div>



</body>
<script src="../public/assets/jquery-1.12.4.js"></script>
<script src="../public/script/talentsCx.js"></script>

</html>