<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猎评网</title>
    <link rel="shortcut icon" href="../lieping.ico">
    <link rel="stylesheet" href="../public/less/zhuce.css">
</head>

<body>
    <div class="header">
        <div class="continer clearfix">
            <img src="../images/logo.png" alt="">
            <ul class="hedeull">
                <li> </li>
                <li>公平</li>
                <li>公正</li>
                <li>真实</li>
                <li>客观</li>
                <span></span>
                <li>欢迎注册</li>
            </ul>
            <ul class="hedeulr">
                <a href="./foot/helpCenter.html">
                    <li>帮助中心</li>
                </a>
                <a href="../index.html">
                    <li>首页</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="zc_content">
        <div class="zc_contentC">
            <div class="zc_contentCl">
                <img src="../images/shuaige.png" alt="">
                <p>个人职场诚信档案查询，提高应聘成功率，增加就业筹码</p>
            </div>
            <div class="zc_contentCr">
                <ul class="clearfix zc_contentCr_ul">
                    <li class="active" data-id="geren_zc">
                        个人注册
                        <span></span>
                    </li>
                    <li data-id="firm_zc">企业注册</li>
                </ul>
                <div class=" clearfix" id="geren_zc">
                    <div class="inputbox ">
                        <span>手机号码/邮箱</span><input type="text" name="" value="" class="zcinput_lang index_phone" placeholder="&nbsp请输入手机号码/邮箱号/用户名">
                        <p class="wrong">1212</p>
                    </div>
                    <div class="inputbox">
                        <span>密码</span><input type="text" name="" value="" class="zcinput_lang index_pass" placeholder="&nbsp请输入密码，6-16位字母/数字/符号相组">
                        <p class="wrong">1212</p>
                    </div>
                    <div class="inputbox">
                        <span>确认密码</span><input type="text" name="" value="" class="zcinput_lang index_pass1" placeholder="&nbsp请输入和上面相同的密码">
                        <p class="wrong">1212</p>
                    </div>
                    <div class="inputbox">
                        <span>图形验证</span>
                        <input type="text" class="erwm_iput" placeholder="&nbsp不区分大小写,点击图片可刷新">
                        <input type="text" name="" value="" class="erwm">
                        <p class="wrong">1212</p>
                    </div>
                </div>
                <div class="clearfix" id="firm_zc">
                    <div class="inputbox ">
                        <span>企业名称</span><input type="text" name="" value="" class="zcinput_lang firm_name" placeholder="&nbsp请输入手机号码/邮箱号/用户名">
                        <p class="wrong">1212</p>
                    </div>
                    <div class="inputbox ">
                        <span>手机号码/邮箱</span><input type="text" name="" value="" class="zcinput_lang index_phone2" placeholder="&nbsp请输入手机号码/邮箱号/用户名">
                        <p class="wrong">1212</p>
                    </div>
                    <div class="inputbox">
                        <span>密码</span><input type="text" name="" value="" class="zcinput_lang index_pass2" placeholder="&nbsp请输入密码，6-16位字母/数字/符号相组">
                        <p class="wrong">1212</p>
                    </div>
                    <div class="inputbox">
                        <span>确认密码</span><input type="text" name="" value="" class="zcinput_lang index_pass12" placeholder="&nbsp请输入和上面相同的密码">
                        <p class="wrong">1212</p>
                    </div>
                    <div class="inputbox">
                        <span>图形验证</span>
                        <input type="text" class="erwm_iput" placeholder="&nbsp不区分大小写,点击图片可刷新">
                        <input type="text" name="" value="" class="erwm">
                        <p class="wrong">1212</p>
                    </div>
                </div>
                <button type="button">注册</button>
                <p class="foot">已有猎评账号，<a href="./signIn.html">直接登录</a><span class="shoujian"></span></p>
            </div>
        </div>
    </div>

</body>
<script src="../public/script/zhuce.js"></script>


</html>