<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猎评网</title>
    <link rel="shortcut icon" href="../../lieping.ico">
    <link rel="stylesheet" href="../../public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/less/helpCenter.css">
</head>

<body>
    <!--头部导航-->
    <div class="header">
        <div class="continer clearfix">
            <div class="col-sm-4">
                <div class="log">
                    <img src="../../images/logo.png" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <ul>
                    <li><a href="../../index.html">首页</a></li>
                    <li><a href="../talentsCx.html">人才查询</a></li>
                    <li><a href="../firmCx.html">企业查询</a></li>
                    <li><a href="../callUs.html">联系我们</a></li>
                    <li><a href="../personalUser.html">个人用户</a></li>
                    <span>|</span>
                    <li><a href="../firmUser.html">企业用户</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--大图片-->
    <div class="dImage">
    </div>

    <div class="continer">
        <img src="../../public/uploade/helpcenter.png" alt="" width="100%">
        <ul class="imgBul clearfix">
            <li class="active">常见问题</li>
            <li>相关政策</li>
        </ul>
        <div class="content_went" id="q" name="went">
            <h2>
                个人会员常见问题
            </h2>
            <dl>
                <dt>一、注册及会员账号常见问题
                
                <ol>
                    <li >如何成为猎评网会员？</li>
                    <dd>注册成为猎评网会员很简单，只需一步：</br>
                        填写登记作为登录账号的个人手机号或则E-mail，快速注册完成，接下来就可以直接去填写简历找工作，也可以进入会员中心搜索及订阅心仪的职位。<a href="../zhuCe.html">立即注册</a></dd>
                    <li>忘记密码或用户名怎么办？</li>
                    <dd>猎评网提供了快捷找回密码功能，只需提供您在注册时登记的手机号码或E-mail地址，我们会自动将重置过的密码发送至您的手机或邮箱。此功能同样适用于忘记用户名的情况。<a href="javascript:;">忘记密码</a>
                        如果收到重置密码还是不能登录，或多次登录错误帐户被限制，请联系猎评网客服：</dd>
                    <li>如何修改密码？</li>
                    <dd>
                        登录个人会员中心，找到用户管理页，即可重新设置新密码。<a href="javascript:;">修改密码</a>
                    </dd>
                    <li>注册时发现输入的邮件地址已经被使用怎么办？</li>
                    <dd>这说明你已经注册过本网站了。请试着输入用户名和密码登录你的会员中心。如果忘记了用户名和密码，可以点击<a href="javascript:;">忘记密码</a>，在注册邮箱中查询新密码，登录后修改完善简历重设密码，当然也可以用其他邮箱重新注册。</dd>

                </ol>
            </dt>
                <dt>二、简历常见问题
                
                <ol>
                    <li >注册后如何完成自己的简历信息？</li>
                    <dd>
                        当您完成注册后，可以按照页面指示，输入相关信息，就可以完成一份电子简历。请按照页面提示完成简历，这样才能保证简历内容的完整性，提升简历的吸引力。
                        另外，我们的简历是即填即存式的，所以每当您填写完成一个部分，务必记得要随时进行保存操作，您的信息才能存入我们的数据库中。
                        如果您希望简历更加个性化，可以将制作好简历直接上传到附件简历中。
                    </dd>
                    <li>如何上传个人照片？为什么上传的照片没有显示？</li>
                    <dd>
                        在编辑个人标准简历时，专门有一项上传照片的功能供用户选择使用。照片大小控制在30k以内，图片宽度*高度最好为100*120像素，Chr支持jpg、gif、png格式。个人照片需审核修改后才能显示，一般为隔天进行显示。
                    </dd>
                    <li>如何上传我的学历证书和资格证书？</li>
                    <dd>
                        在填写完整简历时，可以在教育背景和证书中列出所获学历和证书，但Chr目前暂不支持直接上传证书。请不要将证书上传到照片栏。
                    </dd>
                    <li>可以创建多少份简历？</li>
                    <dd>
                        每位注册用户可以创建1份标准简历，和上传一份附件简历。但记住，只有一份标准简历可以设置为完全公开，供招聘单位进行搜索。请一定要保证这份公开简历的完整性和质量，以便获得更多的工作机会。
                    </dd>

                </ol>
            </dt>
                <dt>三、个人信息安全与费用问题
                
                <ol>
                    <li >关于个人信息的保密？</li>
                    <dd>
                        当您选择简历开放功能时，您已经同意猎评网企业会员搜索到并查看您的简历。
                        如果您不愿意简历被搜索查看，您可以选择简历隐藏功能。但仍可以通过猎评网网个人会员管理系统注册完善的电子简历，并自行查找工作职位、订阅工作职位、在线应聘。
                    </dd>
                    <li>个人用户应聘时否收费？</li>
                    <dd>
                        猎评网针对个人用户的应聘、简历管理、职位订阅等，均为免费服务。我们会代理企业进行某些职位的招聘，这类招聘针对个人用户依然是免费服务。如果您在猎评网遇到需付费的应聘情况，请投诉至：400-710-4000
                    </dd>
                   
                </ol>
            </dt>
            </dl>
            <h2>
                企业会员常见问题
            </h2>
            <dl>
                <dt>一、关于猎评网？
                
                <ol>
                    <li >猎评网为企业提供哪些服务？</li>
                    <dd>
                        中猎评网为企业提供全方位的员工管理体系（如员工档案管理，员工工作评价等）及全方位的人才背景的查看及优秀人才的招聘体系。
                    </dd>
                    <li>如何联系猎评网？</li>
                    <dd>
                        您可以拨打 电话联系猎评网客服，或E-mail至:webmaster@Chr.com
                    </dd>
                </ol>
            </dt>
                <dt>二、关于猎评网企业会员帐户管理与企业信息介绍
                
                <ol>
                    <li >忘记密码怎么办？</li>
                    <dd>
                       如果忘记了密码，请通过注册的电子邮箱找回。
                    </dd>
                    <li>为什么一定要填写公司信息？</li>
                    <dd>
                       清晰明了的公司介绍有利于求职者了解企业情况，为招聘企业吸引到适合人才，减少冗余简历的处理。在Chr系统中，公司介绍为必填项。
                    </dd>
                    <li>怎样上传企业Ｌｏｇｏ、照片？</li>
                    <dd>
                       进入企业管理系统后，在帐户管理中，可以发布、修改企业介绍，也可以直接上传企业Logo、照片。Logo最佳大小为100*50，大小不得大于50K；图片最佳大小为187*145，企业可以上传两张形象照；
                    </dd>
                </ol>
            </dt>

            </dl>
        </div>
        <div class="content_zhengc" id="q" name="zhengc">
            <p>
                <b> 一、版权</b>
                <br> 此网站的内容、图表、版式设计等所呈现出的全部或部分可单独作为作品保护之内容等及维系本网站运营的各种源代码、执行程序、系统均受到中国版权法律、法规及相关国际条约的保护。Highpin.cn拥有一切权利，未经Highpin.cn同意，不允许全部或部分复制、转载或以其他任何方式使用。禁止以任何目的重新使用Highpin.cn网上的内容和图表等作品或作品元素。在内容和图表等作品、元素不作任何修改、保留内容未做修改以及事先得到Highpin.cn的许可的情况下，Highpin.cn的网上材料可作为网外信息方面和非商业方面的用途。经Highpin.cn同意后复制、转载或者以其他形式使用本网站相关资料的，应当标明资料来源于“Highpin.cn”，以及Highpin.cn或相关第三方拥有该等资料的著作权的字样。
                <br>
                <br>申请使用Highpin.cn内容的许可是按逐个批准的原则进行的。Highpin.cn欢迎使用者提出申请。请把请求直接提交给webmaster@Highpin.cn。请勿复制或采用Highpin.cn所创造的用以制成网页的HTML。HTML的版权同样属于Highpin.cn。
                <br>
                <br>Highpin.cn对其网址上的所有图标、图饰、图表、色彩、文字表述及其组合、版面设计、数据库均享有完全的著作权及其衍生的其他全部权利，对发布的信息均享有专有的发布和使用权。 商标
                <br>Highpin.cn的商标，包括Highpin.cn、Alliance和Highpin.cn其他网站的商标属于Highpin.cn所有。Highpin.cn上的Highpin.cn合作者的商标属于合作者所有。未经Highpin.cn及/或Highpin.cn合作者事先书面许可，不得复制或以任何其他方式使用上述商标。
                <br>免责条款
                <br>1、使用者理解并同意Highpin.cn对以下情况免责：
                <br>（1）应聘信息发布方对存入简历中心的个人简历及材料的格式、内容的真实性、准确性和合法性负有全部责任，招聘信息发布方对于其在职位数据库公布的材料的真实性、准确性和合法性负有全部责任。Highpin.cn仅是提供职位发布等信息的平台，Highpin.cn不对应聘及招聘信息的真实性、有效性、准确性负责。
                <br>（2）Highpin.cn并不能时时监视此网址，但保留进行随时监视的权利。对于非Highpin.cn公布的材料，Highpin.cn一概不负任何责任。
                <br>（3）Highpin.cn虽然对用户进行资质审查，但Highpin.cn并非司法机关，仅能要求用户提交真实、有效的资质证明文件，并对该提交的资质证明文件进行审核。如用户提交虚假、伪造、变造文件的，Highpin.cn对此概不承担法律责任。
                <br>（4）Highpin.cn不对用户的线下行为负责。企业用户及个人用户均应审慎的对待他方之行为，因为他方之行为给用户造成任何不利影响的，Highpin.cn不承担任何法律责任。
                <br>（5）Highpin.cn不能保证某一种职位描述会有一定数目的使用者来浏览，也不能保证会有一位特定的使用者来浏览。
                <br>（6）Highpin.cn对由于政府禁令、现行生效的适用法律或法规的变更、火灾、地震、动乱、战争、停电、通讯线路中断、黑客攻击、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的不可预见、不可避免、不可克服和不可控制的事件（“不可抗力事件”），以及他人蓄意破坏、Highpin.cn工作人员的疏忽或不当使用，正常的系统维护、系统升级，或者因网络拥塞而导致本网站不能访问而造成的本网站所提供的信息及数据的延误、停滞或错误，以及使用者由此受到的一切损失不承担任何责任。
                <br>（7）由于与本网站链接的其他网站或用户所使用的网络运营商所造成之个人资料泄露及由此而导致的任何法律争议和后果均由网站或用户所使用的网络运营商负责；
                <br>（8）对于Highpin.cn为使用者提供便利而设置的外部链接网址，Highpin.cn并不保证其准确性、安全性和完整性，亦并不代表本网站对其链接内容的认可，请使用者谨慎确认后使用，Highpin.cn对由此导致的任何损失或伤害不承担任何责任。
                <br>2、除了本网址在隐私政策中提出的条款外，使用者理解并同意Highpin.cn在不公开姓名的情况下，可以向第三方提供综合性的非个人化信息资料。除非：
                <br>（1）依照法律、法规、法院命令、监管机构命令的要求；
                <br>（2）根据政府行为、监管要求或请求；
                <br>（3）因Highpin.cn其认为系为遵守监管义务或公共目的所需；
                <br>（4）为免除访问者在生命、身体或财产方面之急迫危险，否则在没有本人事先同意的情况下，Highpin.cn 不会向第三方公开你的姓名、地址、电子邮件和电话等个人信息。
                <br>网站使用
                <br>1. 明确的禁止使用
                <br>Highpin.cn（含网站及手机APP） 只能用于合法目的，即个人寻找职业和雇主寻找雇员。Highpin.cn 明确禁止任何其他用途，并要求所有使用者同意不用于下列任何一种用途：
                <br>（1）在简历中心公布不完整、虚假或不准确的简历资料，或不是使用者的准确简历(而为他人寻找全职或兼职工作)。
                <br>（2）公布不是简历的资料，如意见、通知、商业广告或其他非简历内容。
                <br>（3）为Highpin.cn的竞争同行回应职位，并用此方法寻求与雇主联络业务。
                <br>（4）除发布者外，删除或修改其他个人或公司公布的资料。
                <br>（5）擅自打印、复制或以其他方式使用有关雇员的任何个人资料或有关雇主的商业信息。
                <br>（6）未经同意，给公布信息的个人或公司发电子邮件、打电话、寄信或以其他方式进行接触。
                <br><b>二、 网址安全法规</b>
                <br>禁止使用者破坏或企图破坏 Highpin.cn 的安全法规，包括但不限于：
                <br>（1）接触未经许可的数据或进入未经许可的服务器、帐户、邮箱或许可第三方接入未经本网站同意的由本网站发布、输送、传播的数据、简历或其他信息等；
                <br>（2）没有得到许可，企图探查、扫描或测试系统或网络的弱点或者破坏安全措施；
                <br>（3）企图干涉对用户及网络的服务，包括但不限于通过超载、“邮件炸弹”或“摧毁”等手段；
                <br>（4）发送促销、产品广告及服务的email；
                <br>（5）伪造TCP/IP数据包名称或部分名称。破坏系统或网络可能导致犯罪。Highpin.cn 将调查此类破坏行为的发生，并可能干预、和执法当局合作起诉犯此类破坏行为的使用者。
                <br><b>三、总则</b>
                <br>严禁从事以下行为：
                <br>（1）违反任何现行法律法规及其不时的修订；
                <br>（2）侵犯他人的版权、商业机密、或其他知识产权，或侵犯了他人的隐私权、出版权或其他个人合法权利；
                <br>（3）利用本网站传送、分发、储存属于诽谤、淫秽、威胁、辱骂性、毁损他人或其他非法或者违反社会公序良俗的材料；
                <br>（4）利用本网站提供的服务系统进行任何可能对互联网或移动网正常运转造成不利影响的行为；
                <br>（5）以任何形式使用本网站提供的服务进行任何不利于本网站的行为。
                <br><b> 四、暂停使用，中止使用</b>
                <br>任何一位使用者经本网站确定已违反了有关法律法规、本协议或网站使用规则某一项规定，将收到一份书面警告。如果该使用者在接到前述警告后，以书面形式表示自己再也不会有违犯行为，本网站有权决定是否继续给予暂停或终止使用的处理。然而，如果本网站认为必要时，也可不提出警告而马上暂停或终止对该使用者的服务。如果我们确定某一使用者再次违犯了网络使用规则的任何一项规定，无需再发通知，该使用者立即受到暂停使用或终止使用的处理。
                <br><b>五、保密</b>
                <br>除了本网址在信息保密中提出的条款外，使用者理解并同意，Highpin.cn在不公开姓名的情况下，可以向第三方提供综合性的资料。除非依照法律、法规、法院命令、监管机构命令的要求，或根据政府行为、监管要求或请求，或因Highpin.cn其认为系为遵守监管义务所需时，在没有本人事先同意的情况下，Highpin.cn不会向第三方公开使用者的姓名、地址、电子邮件和电话等个人信息，但下列情况除外：
                <br>（1）根据执法单位之要求或为公共之目的向相关单位提供个人资料；
                <br>（2）由于访问者将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露；
                <br>（3）由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等；
                <br>（4）由于与本网站链接的其他网站所造成之个人资料泄露及由此而导致的任何法律争议和后果；
                <br>（5）为免除访问者在生命、身体或财产方面之急迫危险。
                <br>对于以上原因导致的任何损失或伤害，Highpin.cn不承担任何责任。
                <br><b>六、风险声明</b>
                <br>使用者使用本网址及其内信息须自行承担风险。本网址的材料是按"正如……的情况"所提供的，Highpin.cn对材料不作任何明示的或暗示的保证。除非适用的法律法规有明确规定，Highpin.cn及其所属网络对销售性的和适合于某一特定目的的一切保证不予承认。Highpin.cn不能保证材料的特殊目的不受阻挠不出错误，也不能保证错误会得到纠正，也不能保证本网址或制成本网址的材料不含有病毒或其他有害成分。在有关材料的使用或使用结果方面，Highpin.cn对材料的正确性、准确性、可靠性或其他方面不作出保证或任何说明。使用者(而不是Highpin.cn)承担一切必要的服务、修理或改正费用。在适用法规不允许暗含保证可免除承担一切费用的范围里，免除上述承担费用不适用于你。

            </p>
        </div>
    </div>


    <div class="back_ccc" style="height:4px;margin-top:230px;  background-color: #e95513"></div>
    <!--底部关于我们-->
    <div class="foot_our">
        <div class="continer clearfix">
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>关于我们
                            <dd><a href="./aboutUs.html#if">公司介绍</a></dd>
                            <dd><a href="./aboutUs.html#2f">发展历程</a></dd>
                    </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>联系我们
                            <dd><a href="../callUs.html#1f">联系我们</a></dd>
                            <dd><a href="../callUs.html#2f">友情链接</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>帮助中心
                            <dd><a href="./helpCenter.html#went">常见问题</a></dd>
                            <dd><a href="./helpCenter.html#zhengc">相关政策</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>注册流程
                            <dd><a href="../zhuCe.html">个人注册</a></dd>
                            <dd><a href="../zhuCe.html#firm">公司注册</a></dd>
                        </dt>
                </dl>
            </div>
        </div>
    </div>
    <div class="foot">
        <p>未经猎评网同意，不得转载本网站之所有企业及个人信息| 猎评网版权所有© 2017/lieping </p>
        <p>沪公网安备31011502002551号</p>
    </div>



</body>
<!--<script src="../../public/assets/jquery-1.12.4.js"></script>-->
<script>
    var els = document.querySelectorAll('.imgBul li');
    var divs = document.querySelectorAll('#q');
    els[0].index = 0;
    els[1].index = 1;
    elstag(els[0]);
    elstag(els[1]);

    function elstag(el) {
        el.onclick = function() {
            els[0].classList.remove('active');
            els[1].classList.remove('active');
            this.classList.add('active');
            divs[0].style.display = 'none';
            divs[1].style.display = 'none';
            divs[this.index].style.display = 'block';
        }
    }
    if (window.location.hash) {
        if (window.location.hash == '#zhengc') {
            divs[0].style.display = 'none';
            divs[1].style.display = 'block';
            els[0].classList.remove('active');
            els[1].classList.add('active');
        }
    }
</script>

</html>