<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猎评网</title>
    <link rel="shortcut icon" href="../../lieping.ico">
    <link rel="stylesheet" href="../../public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/less/firmUser/staffshenS.css">
    <link rel="stylesheet" href="../../public/less/firmUser/lppage.css">
    <script src="../../public/assets/jquery-1.12.4.js"></script>
    <script src="../../public/script/frmUser/lppage.js"></script>
</head>

<body>
    <!--申诉框-->
    <div class="lp_tousu">
        <h2>申诉</h2>
        <textarea name="CommentContent" id="CommentContent" maxlength='500' class=" classFormEle_ok"> </textarea>
        <div class="lp_tousu_foot">
            <p>可输入<span>500</span>字</p>
            <button type="button" class="lp_tousu_tj">提交申诉</button>
        </div>
    </div>
    <!--文件读取-->
    <div class="reader_filebox">
        <div class="reader_fileboxT">
            <span class="updatahidden"></span>
        </div>
        <div class="reader_fileboxC">
            <div class="reader_fileboxCT"></div>
            <div class="reader_fileboxCB">
                <div class="reader_fileboxCBT">
                    <span>+</span><span>选择图片</span>
                    <input type="file" value="选择图片">
                </div>
                <p>只支持jpj,png大小不超过2M</p>
            </div>

        </div>
        <div class="reader_fileboxB">
            <button class="reader_file_bc">保存</button>
            <button class="reader_file_qx">取消</button>
        </div>
    </div>
    <!--头部导航-->
    <div class="header">
        <div class="continer clearfix">
            <div class="col-sm-4">
                <div class="log">
                    <img src="../../images/logo.png" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <ul>
                    <li><a href="../../index.html">首页</a></li>
                    <li><a href="./../talentsCx.html">人才查询</a></li>
                    <li><a href="./../firmCx.html">企业查询</a></li>
                    <li><a href="javascript:;">联系我们</a></li>
                    <li><a href="./../personalUser.html">个人用户</a></li>
                    <span>|</span>
                    <li><a href="javascript:;" style="color:#e95513">企业用户</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--大图片-->
    <div class="dImage">

    </div>

    <!--主体内容区域-->
    <div class="content">
        <div class="continer clearfix">
            <div class="col-sm-2 ceb_nav">
                <div class="ceb_nav_top">
                    <!--<div class="ceb_nav_img"></div>-->
                    <p class="ceb_xiugai "><i class="ceb_active"><a href="javascript:;"  class="ceb_updata">修改</a></i><i><a href="">删除</a></i></p>
                </div>
                <div class="ceb_nav_topB">
                    <ul class="ceb_navul">
                        <li>
                            <a href="../firmUser.html">
                                <p>公司信息</p>
                            </a>
                        </li>
                        <li>
                            <p>员工档案</p>
                        </li>
                        <li>
                            <p>员工评价</p>
                        </li>
                        <li>
                            <p>发布招聘</p>
                        </li>
                        <li>
                            <p>简历管理</p>
                        </li>
                        <li class="ceb_navback">
                            <p>评价申诉</p>
                            <m></m>
                        </li>
                        <li>
                            <p>消息管理</p>
                        </li>
                    </ul>
                    <div class="ceb_sanjiao">
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-sm-10padding" id="resume_pingj" style="padding-bottom:100px">
                <div class="pingjia_top clearfix">
                    <p>公司评价</p>
                    <div class="pingjia_topR">
                        <span class="pingjia_topRclk"></span> <i>全部</i>
                        <div class="pingjia_topRB">
                            <li>任职企业</li>
                            <li>面试企业</li>
                            <li>其他</li>
                        </div>
                    </div>
                </div>
                <div class="pingjia_content">
                    <div class="pingjia_contentT clearfix">
                        <li>来自</li>
                        <li class="pingjia_jbteb"><b>公司员工-刘**</b>(上海)</li>
                        <li>2017/03.24 &nbsp &nbsp 14:29</li>
                        <li class="shensu_table">申诉</li>

                    </div>
                    <div class="pingjia_contentC clearfix">
                        <p class="wxpingjh6">综合评价：</p>
                        <span class="wx_back wx_back2">
                                <m class="wx2_back wx_back2"></m>
                            </span>
                    </div>
                    <div class="pingjia_contentB clearfix">
                        <p class="pingjia_contentB1">评语：</p>
                        <p class="pingjia_contentB2">1：能够遵守公司纪律，不迟到、不早退，在工作时间内能坚守岗位，对工作负责；工作上主观能动性强，能够较为全面的掌握本岗位业务，能够较为迅速的执行领导的具体工作要求，并能很好的配合好其它部门完成工作；思想认识上主观辨别能力与分析能力较强，对待问题能准确及时辨别对错，思想上成熟；工作上能够主动的进行学习，并且在具体工作中能积极发挥创造性思维，注重观察，善于发现问题、提出问题，提出解决办法，并时而与其它同事探讨管理水平的如何提高等问题，考虑问题、处理问题稳妥；上能很快的融入到整个团队之中，能与其它同事建立良好的。</p>
                    </div>
                </div>
                <div class="pingjia_content">
                    <div class="pingjia_contentT clearfix">
                        <li>来自</li>
                        <li class="pingjia_jbteb"><b>公司面试者-李**</b>(上海)</li>
                        <li>2017/03.24 &nbsp &nbsp 14:29</li>
                        <li class="shensu_tableoll">已申诉</li>

                    </div>
                    <div class="pingjia_contentC clearfix">
                        <p class="wxpingjh6">综合评价：</p>
                        <span class="wx_back wx_back2">
                                <m class="wx2_back wx_back2"></m>
                            </span>
                    </div>
                    <div class="pingjia_contentB clearfix">
                        <p class="pingjia_contentB1">评语：</p>
                        <p class="pingjia_contentB2">1：能够遵守公司纪律，不迟到、不早退，在工作时间内能坚守岗位，对工作负责；工作上主观能动性强，能够较为全面的掌握本岗位业务，能够较为迅速的执行领导的具体工作要求，并能很好的配合好其它部门完成工作；思想认识上主观辨别能力与分析能力较强，对待问题能准确及时辨别对错，思想上成熟；工作上能够主动的进行学习，并且在具体工作中能积极发挥创造性思维，注重观察，善于发现问题、提出问题，提出解决办法，并时而与其它同事探讨管理水平的如何提高等问题，考虑问题、处理问题稳妥；上能很快的融入到整个团队之中，能与其它同事建立良好的。</p>
                    </div>
                </div>
                <div class="pingjia_contentF">
                    <div class="pingjia_content">
                        <div class="pingjia_contentT clearfix">
                            <li>来自</li>
                            <li class="pingjia_jbteb"><b>公司面试者-李**</b>(上海)</li>
                            <li>2017/03.24 &nbsp &nbsp 14:29</li>
                            <li class="shensu_tableoll">已申诉</li>

                        </div>
                        <div class="pingjia_contentC clearfix">
                            <p class="wxpingjh6">综合评价：</p>
                            <span class="wx_back wx_back2">
                                <m class="wx2_back wx_back2"></m>
                            </span>
                        </div>
                        <div class="pingjia_contentB clearfix">
                            <p class="pingjia_contentB1">评语：</p>
                            <p class="pingjia_contentB3">1：能够遵守公司纪律，不迟到、不早退，在工作时间内能坚守岗位，对工作负责；工作上主观能动性强，能够较为全面的掌握本岗位业务，能够较为迅速的执行领导的具体工作要求，并能很好的配合好其它部门完成工作；思想认识上主观辨别能力与分析能力较强，对待问题能准确及时辨别对错，思想上成熟；工作上能够主动的进行学习，并且在具体工作中能积极发挥创造性思维，注重观察，善于发现问题、提出问题，提出解决办法，并时而与其它同事探讨管理水平的如何提高等问题，考虑问题、处理问题稳妥；上能很快的融入到整个团队之中，能与其它同事建立良好的。</p>
                        </div>
                        <div class="pingjia_contentFB">
                            <p>申诉结果<span></span></p>
                        </div>
                    </div>
                    <div class="pingjia_contentFF">
                        <p>暂时没有处理结果！</p>
                    </div>
                </div>
                <div class="lpfnye clearfix">
                    <div id="lp_page" class="m-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="back_ccc" style="height:4px;margin-top:200px;  background-color: #e95513"></div>
    <!--底部关于我们-->
    <div class="foot_our">
        <div class="continer clearfix">
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>关于我们
                            <dd><a href="javascript:;">公司介绍</a></dd>
                            <dd><a href="javascript:;">发展历程</a></dd>
                            <dd><a href="javascript:;">荣誉资质</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>联系我们
                            <dd><a href="javascript:;">联系我们</a></dd>
                            <dd><a href="javascript:;">常见问题</a></dd>
                            <dd><a href="javascript:;">友情链接</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>帮助中心
                            <dd><a href="javascript:;">常见问题</a></dd>
                            <dd><a href="javascript:;">相关政策</a></dd>
                        </dt>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-6">
                <dl>
                    <dt>注册流程
                            <dd><a href="javascript:;">个人注册</a></dd>
                            <dd><a href="javascript:;">公司注册</a></dd>
                        </dt>
                </dl>
            </div>
        </div>
    </div>
    <div class="foot">
        <p>未经猎评网同意，不得转载本网站之所有企业及个人信息| 猎评网版权所有© 2017/lieping </p>
        <p>沪公网安备31011502002551号</p>
    </div>



</body>
<script src="../../public/script/frmUser/staffshenS.js"></script>

</html>