<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猎评网</title>
    <link rel="shortcut icon" href="../../lieping.ico">
    <link rel="stylesheet" href="../../public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/less/firmUser/staffRecord.css">

</head>

<body>

    <!--头部导航-->
    <div class="header">
        <div class="continer clearfix">
            <div class="col-sm-4">
                <div class="log">
                    <img src="../../images/logo.png" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <ul>
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="./talentsCx.html">人才查询</a></li>
                    <li><a href="./firmCx.html">企业查询</a></li>
                    <li><a href="javascript:;">联系我们</a></li>
                    <li><a href="./personalUser.html">个人用户</a></li>
                    <span>|</span>
                    <li><a href="javascript:;" style="color:#e95513">企业用户</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--大图片-->
    <div class="dImage">

    </div>
    <!--内容部分 -->
    <div class="Record_content">
        <div class="continer">
            <div class="Record_contentT">
                <p><span class="back_show"></span>返回</p>
            </div>
            <div class="Record_contentC clearfix">
                <p>基本信息</p>
                <div class="Record_contentCl ">
                    <img src="../../public/uploade/lke.png" alt="">
                </div>
                <div class="Record_contentCr">
                    <p><span class="cull"></span> <span>刘珂</span></p>
                    <div class="Record_contentCrC clearfix">
                        <ul>
                            <li>男</li>
                            <span></span>
                            <li>28岁（1988/12/12）</li>
                            <span></span>
                            <li>硕士学历</li>
                            <span></span>
                            <li>现居于上海市嘉定区</li>
                            <span></span>
                            <li>3年工作经验</li>
                        </ul>
                    </div>
                    <div class="Record_contentCrC1 clearfix">
                        <li>liuke@126.com</li>
                        <li>177-1078-1256</li>
                    </div>
                    <p class="Record_chak">
                        <m>查看更多</m> <span class="back_show"></span>
                    </p>
                </div>
            </div>
            <div class="Record_contentd">

            </div>






            <div class="back_ccc" style="height:4px;margin-top:200px;  background-color: #e95513"></div>
            <!--底部关于我们-->
            <div class="foot_our">
                <div class="continer clearfix">
                    <div class="col-sm-3 col-xs-6">
                        <dl>
                            <dt>关于我们
                            <dd><a href="javascript:;">公司介绍</a></dd>
                            <dd><a href="javascript:;">发展历程</a></dd>
                            <dd><a href="javascript:;">荣誉资质</a></dd>
                        </dt>
                        </dl>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <dl>
                            <dt>联系我们
                            <dd><a href="javascript:;">联系我们</a></dd>
                            <dd><a href="javascript:;">常见问题</a></dd>
                            <dd><a href="javascript:;">友情链接</a></dd>
                        </dt>
                        </dl>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <dl>
                            <dt>帮助中心
                            <dd><a href="javascript:;">常见问题</a></dd>
                            <dd><a href="javascript:;">相关政策</a></dd>
                        </dt>
                        </dl>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <dl>
                            <dt>注册流程
                            <dd><a href="javascript:;">个人注册</a></dd>
                            <dd><a href="javascript:;">公司注册</a></dd>
                        </dt>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="foot">
                <p>未经猎评网同意，不得转载本网站之所有企业及个人信息| 猎评网版权所有© 2017/lieping </p>
                <p>沪公网安备31011502002551号</p>
            </div>



</body>
<script src="../../public/assets/jquery-1.12.4.js"></script>

</html>