@import 'base.css';
@import 'common.css';
.marginT {
  margin-top: 20px;
}
.header {
  padding-bottom: 20px;
  margin-top: 40px;
  border-bottom: 1px solid #dcdcdc;
}
.header .header_left img {
  float: left;
  width: 140px;
}
.header .header_left ul span {
  display: block;
  float: left;
}
.header .header_left ul li {
  float: left;
  font-family: 'SimSun';
  font-size: 18px;
  color: #333;
  cursor: pointer;
}
.header .header_left ul li:last-child {
  font-size: 24px;
  font-family: "MicrosoftYaHei", "微软雅黑";
  color: #000000;
}
.header .header_right {
  float: right;
}
.header .header_right ul li {
  color: #333;
  font-size: 18px;
  cursor: pointer;
}
.zc_content {
  width: 100%;
  height: 900px;
  background: url("../uploade/zc_back.png") no-repeat;
  background-size: 100%;
  background-position: 0px 400px;
}
.zc_content .zc_contenter {
  background-color: white;
  border: 1px solid #dcdcdc;
  margin: 0 auto;
  margin-top: 50px;
  width: 800px;
  height: 700px;
}
.zc_content .zc_contenter .zc_contenter_l {
  border-top: 10px solid #E95413 ;
  border-right: 1px dashed #dcdcdc;
  float: left;
  width: 240px;
  padding-top: 15px;
  height: 640px;
}
.zc_content .zc_contenter .zc_contenter_l ul {
  text-align: center;
}
.zc_content .zc_contenter .zc_contenter_l ul li {
  margin-top: 88px;
}
.zc_content .zc_contenter .zc_contenter_l ul li span {
  display: block;
  position: relative;
  margin-bottom: 5px;
  font-size: 18px;
  color: #000000;
}
.zc_content .zc_contenter .zc_contenter_l ul li i {
  font-size: 14px;
  color: #666 ;
}
.zc_content .zc_contenter .zc_contenter_l ul li span::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: 60px;
  top: 0px;
}
.zc_content .zc_contenter .zc_contenter_l ul li .zcnth-child-1::before {
  background: url("../../images/gjm.png") no-repeat;
}
.zc_content .zc_contenter .zc_contenter_l ul li .zcnth-child-2::before {
  background: url("../../images/gzs.png") no-repeat;
}
.zc_content .zc_contenter .zc_contenter_l ul li .zcnth-child-3::before {
  background: url("../../images/gfx.png") no-repeat;
}
.zc_content .zc_contenter .zc_contenter_l ul li .zcnth-child-4::before {
  background: url("../../images/ggx.png") no-repeat;
}
.zc_content .zc_contenter .zc_contenter_r {
  padding-left: 50px;
  border-top: 10px solid #F29B76;
  margin-left: 240px;
  color: #666;
}
.zc_content .zc_contenter .zc_contenter_r li:first-child {
  margin: 30px 0;
  text-align: center;
  font-size: 24px;
  color: #e95513;
  margin-bottom: 60px;
}
.zc_content .zc_contenter .zc_contenter_r li {
  font-size: 18px;
  color: #000000;
}
.zc_content .zc_contenter .zc_contenter_r .zcinput_lang {
  width: 460px;
  height: 40px;
  margin: 15px 0 0px 0;
}
.zc_content .zc_contenter .zc_contenter_r .wrong {
  display: none;
  color: red;
}
.zc_content .zc_contenter .zc_contenter_r input {
  border: 1px solid #dcdcdc;
  font-size: 14px;
}
.zc_content .zc_contenter .zc_contenter_r input[type='button'] {
  width: 460px;
  height: 40px;
  background-color: #e95513;
  color: #fff ;
  font-size: 18px;
  margin: 20px 0 50px;
}
.zc_content .zc_contenter .zc_contenter_r .zcinput_zidong {
  width: 460px;
}
.zc_content .zc_contenter .zc_contenter_r .zcinput_zidong input[type='checkbox'] {
  width: 14px;
  height: 14px;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}
.zc_content .zc_contenter .zc_contenter_r .zcinput_zidong i {
  display: block;
  float: left;
}
.zc_content .zc_contenter .zc_contenter_r .zcinput_zidong m {
  display: block;
  float: right;
}
.zc_content .zc_contenter .zc_contenter_r .zcinput_zidong m a {
  color: #e95513;
}
.zc_content .zc_contenter .zc_contenter_r .zc_conr_foot {
  text-align: center;
}
.zc_content .zc_contenter .zc_contenter_r .zc_conr_foot i {
  text-align: center;
}
.zc_content .zc_contenter .zc_contenter_r .zc_conr_foot a {
  color: #e95513;
}
.zc_content .zc_contenter .zc_contenter_r .zc_conr_foot m {
  display: inline-block;
  width: 9px;
  height: 13px;
  background-image: url("../../images/zcSj.png");
  margin-left: 10px;
}
.zc_content .zc_contenter .zc_contenter_r .zc_conr_footTs {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px dashed #dcdcdc;
  width: 460px;
}
.zc_content .zc_contenter .zc_contenter_r .zc_conr_footTs p {
  font-size: 12px;
  color: #666;
}
@media (max-width: 1240px) {
  .continer {
    width: 970px;
  }
}
