@import 'base.css';
@import 'common.css';
.dImage .img_box {
  border-top: 2px solid #e95513;
}
.active {
  border-bottom: 2px solid #e95513;
}
.outsidep {
  margin-top: 30px;
  padding-left: 20px;
  font-family: MicrosoftYaHei;
  font-family: '微软雅黑';
  font-size: 18px;
  color: #000000;
  border-left: 4px solid #e95513;
}
.content_to {
  background-color: #f5f5f5;
  padding: 38px 0;
}
.content_top {
  font-family: MicrosoftYaHei;
  font-family: "微软雅黑";
  border: 1px solid #dcdcdc;
}
.content_top .content_img {
  width: 200px;
  height: 200px;
  background: url("../uploade/rongzhijia.png") no-repeat;
  background-size: 200px;
  float: left;
  border: 1px solid #dcdcdc;
  border-top: 0;
  border-bottom: 0;
}
.content_top .content_topr {
  padding-top: 20px;
  margin-left: 200px;
}
.content_top .content_topr p:first-child {
  display: inline-block;
  margin-left: 30px;
  font-size: 24px;
  color: #000000;
  margin-right: 65px;
}
.content_top .content_topr p:first-child + button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff ;
  background-color: #e95513;
}
.content_top .content_topr p:first-child + button m {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../../images/renz.png") no-repeat;
  margin-right: 2px;
  vertical-align: bottom;
}
.content_top .content_topr .content_topp {
  font-size: 18px;
  color: #333;
  margin-left: 30px;
  margin-top: 20px;
}
.content_top .content_topr ul {
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top: 35px;
  background-color: #e5e5e5;
}
.content_top .content_topr ul li {
  width: 180px;
  height: 100%;
  float: left;
}
.content_top .content_topr ul li s,
.content_top .content_topr ul li i {
  display: block;
}
.content_top .content_topr ul li s {
  font-size: 18px;
  color: #000000;
  margin-top: 9px;
}
.content_top .content_topr ul li i {
  font-size: 14px;
  color: #666;
}
.continer_jstext {
  margin-top: 35px;
  width: 100%;
  margin-bottom: 60px;
}
.continer_jstext .continer_img {
  float: left;
  width: 280px;
  height: 320px;
  background-color: pink;
}
.continer_jstext .continer_imgtext {
  margin-left: 300px;
  height: 280px;
  font-size: 14px;
  color: #333;
}
.continer_jstext .continer_imgtext p {
  text-indent: 8px;
  line-height: 24px;
  color: #666;
}
.continer_zpzw {
  text-align: center;
  margin-top: 110px;
}
.continer_zpzw p {
  text-align: left;
}
.continer_zpzw img {
  margin-top: 85px;
}
.continer_zpzw ul {
  margin-top: 20px;
  text-align: left;
  padding-left: 25px;
}
.continer_zpzw ul li {
  margin-bottom: 10px;
}
@media (max-width: 1240px) {
  .continer {
    width: 970px;
  }
  .header ul li {
    float: left;
    margin: 0 13px;
  }
}
