@import 'base.css';
@import 'common.css';
.content {
  background-color: #f5f5f5;
  font-family: MicrosoftYaHei;
  font-family: "微软雅黑";
}
.content .continer {
  padding-bottom: 35px;
}
.content .continer .search_text_r {
  width: 97px;
  text-align: right;
  color: #000000;
  font-size: 18px;
}
.content .continer .search_position {
  position: relative;
}
.content .continer .check_icon > input {
  position: relative;
  z-index: 10;
}
.content .continer .check_icon::before {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  right: 1px;
  width: 14px;
  height: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
}
.content .continer .checkd_icon::before {
  background: url("../../images/XZ.png") no-repeat;
  background-size: 10px;
  background-position: 1px 1px;
}
.content .continer .checkd_1_icon::before {
  border-radius: 0;
}
.content .continer .checkd1_icon::before {
  border: 0px;
  background: url("../../images/XZ1.png") no-repeat;
  background-size: 14px;
}
.content .continer .top {
  margin-top: 45px;
  margin-bottom: 7px;
  line-height: 20px;
}
.content .continer .top span {
  display: block;
  float: left;
  width: 5px;
  height: 20px;
  background-color: #e95513;
  margin-right: 12px;
}
.content .continer .top p {
  float: left;
  font-size: 20px;
  color: #000000;
}
.content .continer .search_fanwei {
  line-height: 25px;
  margin-top: 27px;
}
.content .continer .search_fanwei span {
  display: block;
  float: left;
}
.content .continer .search_fanwei span:nth-child(even) {
  position: relative;
  margin-right: 17px;
}
.content .continer .search_fanwei span:nth-child(even) input {
  width: 14px;
  height: 14px;
  opacity: 0;
}
.content .continer .search_fanwei span:nth-child(odd) {
  font-size: 18px;
  color: #000000;
  margin-right: 40px;
}
.content .continer .search_gjc {
  position: relative;
  margin-top: 27px;
}
.content .continer .search_gjc span {
  display: block;
  margin-top: 12px;
  margin-right: 15px;
}
.content .continer .search_gjc span,
.content .continer .search_gjc input {
  float: left;
  line-height: 100%;
}
.content .continer .search_gjc input {
  width: 300px;
  height: 40px;
  border: 1px solid #dcdcdc;
  margin-right: 20px;
}
.content .continer .search_gjc .checkdcull {
  margin-right: 0px;
}
.content .continer .search_gjc .checkd {
  width: 14px;
  height: 14px;
  opacity: 0;
}
.content .continer .search_gjc .search_cub {
  width: 14px;
  height: 14px;
  border: 1px solid #dcdcdc;
}
.content .continer .search_gjc .margin-left {
  margin-left: 180px;
}
.content .continer .search_gjc .margin-left1 {
  margin-left: 167px;
}
.content .continer .search_Nx {
  margin-top: 22px;
  line-height: 40px;
}
.content .continer .search_Nx .search_text_r {
  float: left;
  margin-right: 15px;
}
.content .continer .search_Nx .search_xiala {
  float: left;
  width: 300px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border: 1px solid #dcdcdc;
}
.content .continer .search_Nx .search_xiala span:nth-child(1) {
  float: left;
  display: block;
  margin-left: 17px;
}
.content .continer .search_Nx .search_xiala span:nth-child(2) {
  display: inline-block;
  float: right;
  margin-right: 17px;
  width: 17px;
  height: 17px;
  margin-left: 38px;
  transform: rotate(45deg);
  position: relative;
  border: 1px solid #666;
  margin-top: 5px;
}
.content .continer .search_Nx .search_xiala span:nth-child(2)::before {
  content: '';
  display: block;
  width: 27px;
  height: 12px;
  background-color: #f5f5f5;
  transform: rotate(-45deg);
  position: absolute;
  left: -11px;
  top: -1px;
}
.content .continer .search_Nx .search_xiala:hover {
  cursor: pointer;
}
.content .continer .search_Nx .contqz_xiala_oryue {
  display: none;
  position: absolute;
  left: -1px;
  top: 40px;
  width: 300px;
  background-color: #f5f5f5;
  z-index: 10;
  border: 1px solid #dcdcdc;
}
.content .continer .search_Nx .contqz_xiala_oryue li {
  text-indent: 20px;
}
.content .continer .search_Tj {
  margin-top: 35px;
  width: 1200px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #dcdcdc;
}
.content .continer .search_Tj .search_checkd,
.content .continer .search_Tj .search_yxtj {
  display: inline-block;
  margin-left: 25px;
  vertical-align: bottom;
}
.content .continer .search_Tj .search_checkd {
  margin-left: 32px;
  line-height: 42px;
}
.content .continer .search_Tj .search_jpg {
  float: right;
  width: 100px;
  height: 38px;
  background: url("../../images/sousuo.png") no-repeat;
  background-color: #f29b76;
  background-position: 35px 4px ;
}
.content .continer .search_Tj .checkd {
  opacity: .2;
}
.content .continer .search_Tj .checkd1_icon::before {
  background: url("../../images/oudx.png") no-repeat;
  width: 18px;
  height: 18px;
}
.content .continer .search_content {
  margin-top: 70px;
  position: relative;
}
.content .continer .search_content .search_content_sole {
  width: 285px;
  margin: 0 20px 20px 0;
  text-align: center;
  padding-top: 35px;
  border: 1px solid #dcdcdc;
  color: #000000;
  float: left;
}
.content .continer .search_content .search_content_sole s {
  display: block;
  font-size: 24px;
  margin-bottom: 12px;
}
.content .continer .search_content .search_content_sole em {
  display: inline-block;
  font-size: 14px;
}
.content .continer .search_content .search_content_sole em:nth-child(even) {
  margin-right: 26px;
}
.content .continer .search_content .search_content_sole .search_content_solefoot {
  height: 60px;
  line-height: 60px;
  background-color: #dcdcdc;
  margin-top: 25px;
}
.content .continer .search_content .search_content_sole .search_content_solefoot .content_solefoot_l,
.content .continer .search_content .search_content_sole .search_content_solefoot .content_solefoot_r {
  display: block;
  color: #000000;
  font-size: 14px;
}
.content .continer .search_content .search_content_sole .search_content_solefoot .content_solefoot_l {
  float: left;
}
.content .continer .search_content .search_content_sole .search_content_solefoot .content_solefoot_r {
  float: right;
  margin-right: 35px;
  position: relative;
}
.content .continer .search_content .search_content_sole .search_content_solefoot .content_footl_icon {
  position: relative;
  margin-left: 57px;
}
.content .continer .search_content .search_content_sole .search_content_solefoot .content_footl_icon::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -30px;
  top: 21px;
  background: url("../../images/zt.png") no-repeat;
}
.content .continer .search_content .search_content_sole .search_content_solefoot .content_footr_icon::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 21px;
  background: url("../../images/dizhi.png") no-repeat;
}
.content .continer .search_content .fenye {
  bottom: -100px;
}
.content_foot {
  margin-top: 100px;
  height: 280px;
  background: url(../../images/jiazai.png) no-repeat 50% 50%;
  position: relative;
}
.content_foot p {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}
.search_gjc_floatLef {
  float: left;
}
@media (max-width: 1240px) {
  .continer {
    width: 970px;
  }
  .header ul li {
    float: left;
    margin: 0 13px;
  }
  .content .continer .search_gjc .margin-left1,
  .content .continer .search_gjc .margin-left {
    margin-left: 0px ;
  }
  .content .continer .search_gjc input {
    margin-right: 0px;
  }
  .content .continer .search_gjc span {
    margin-left: 20px;
  }
  .search_gjc_floatLeft {
    float: left;
    margin-top: 25px;
  }
  .content .continer .search_gjc .guanjianci {
    margin-left: 0px;
  }
}
